{% extends "courses/base-course.html" %}
{% load i18n %}


{% block child_content %}
  <section class="view-section">
    {% trans "Which assignment type do you want to investigate?" as heading_note %}
    {% include "courses/_graded_content_nav.html" with active="assignment_type" assignment_types=assignment_types heading_note=heading_note %}
    <div class="section-content section-data-table grading-policy">
      <div class="tooltip-container">
        {% trans "Click an assignment type to view more detail information about the assignments." as tip_text %}
        {% include "chart_tooltip.html" with tip_text=tip_text track_category="grading_policy" %}
      </div>
      <div class="row">
        {% for item in grading_policy %}
          <div class="col-md-{% widthratio item.weight 1 12 %} policy-item">
            <a href="{% url "courses:performance:graded_content_by_type" course_id=course_id assignment_type=item.assignment_type %}">
              <div class="policy-item-box">
                <div class="weight">{% widthratio item.weight 1 100 %}%</div>
              </div>
              <div class="type">{{ item.assignment_type }}</div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
